fastapi>=0.78.0
fastapi-mail>=1.0.9
motor==3.1.1
pydantic>=1.9.1
pydantic[email]
passlib[bcrypt]
pymongo==4.3.3
pymongo[srv]
python-dotenv>=0.20.0
python-jose[cryptography]
python-multipart>=0.0.5
PyYAML>=6.0
uvicorn[standard]
gunicorn>=20.1.0