<html lang="en">
	{% include '/includes/header.html' %}

	<body class="d-flex h-100 text-center text-white bg-dark">
		<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
			{% include '/includes/navbar.html' %}

			<main class="px-3">
				<h1>Let's write our first Blog</h1>
				<p class="lead">Writing blogs and articles with API</p>
				<p class="lead">
					<a
						href="https://github.com/KayvanShah1/blogAPI"
						class="btn btn-lg btn-secondary fw-bold border-white bg-white"
						>Get Started</a
					>
				</p>
			</main>

			{% include '/includes/footer.html' %}
		</div>

		<!-- Option 1: Bootstrap Bundle with Popper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
			crossorigin="anonymous"
		></script>
	</body>
</html>
